@import "tailwindcss";

:root {
  font-family: "Space Grotesk", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --background-color: oklch(92.525% 0.00602 42.594);
  --foreground-color: oklch(36.71% 0.0111 42.463);
  --button-background-color: oklch(from var(--background-color) calc(0.3 * 0.00602) c h / 0.1);
  --border-color: oklch(from var(--background-color) calc(0.2 * 0.00602) c h / 0.1);
  --button-hover-color: oklch(from var(--background-color) calc(0.2 * 0.00602) c h / 0.15);

  color-scheme: light dark;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: oklch(36.71% 0.0111 42.463);
    /* oklch(24.807% 0.00715 325.606); */
    --foreground-color: oklch(82.957% 0.02095 40.317);
    --button-background-color: oklch(from var(--background-color) calc(0.3 * 0.01) c h / 0.1);
    --border-color: oklch(from var(--background-color) calc(0.2 * 0.01) c h / 0.1);
  }
}


body {
  @apply flex place-items-center m-0;
  background-color: var(--background-color);
  color: var(--foreground-color);
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

button {
  @apply border-[1.5px] border-dashed rounded-lg px-3 py-2 cursor-pointer font-[550];
  border-color: var(--border-color);
  background-color: var(--button-background-color);
  transition: background-color 0.25s, border-style 0.5s;

  &:hover {
    background-color: var(--button-hover-color);
    /* border-style: dotted; */
  }
}

div[slot="headline"] {
  font-family: "Space Grotesk";
}